body{
    background-color: #E4E9ED;
    color: #141414;
}
.container1{
    width: 20%;
    margin: 0 auto;
}
nav {
    color: #141414;
    background-color: white;
}
.nav-link {
    color: #141414!important;  
}
.nav-item {
    padding-left: 2rem;
    font-size: 1.1em;
}
#navbarsExampleDefault{
    width: auto;
    margin: 0 auto;
}
.right {
    float: right;
}
.navbar-brand{
    margin-left: 25px;
}
.navbar{
    min-height: 65px;
}
.mr-auto{
    margin-left: auto;
}
.form-control{
    margin-right: 25px;
}
input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: -10px -10px; 
    background-repeat: no-repeat;
}
input[type=text]:focus {
    outline: none!important;
    outline-style:none;
    box-shadow:none;
    border-color: #ced4da;
}
  