body{
    background-color: #f6f6f6;
    color: #141414;
}
.container1{
    width: 20%;
    margin: 0 auto;
}
nav {
    color: #141414;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}
.nav-link {
    color: #141414!important;  
}
.nav-item {
    padding-left: 2rem;
    font-size: 1.1em;
}
#navbarsExampleDefault{
    width: auto;
    margin: 0 auto;
}
.right {
    float: right;
}
.navbar-brand{
    margin-left: 25px;
}
.navbar{
    min-height: 65px;
}
.mr-auto{
    margin-left: auto;
}
.form-control{
    margin-right: 25px;
}
input[type=text] {
    background-color: white;
    background-repeat: no-repeat;
}
input[type=text]:focus {
    outline: none!important;
    outline-style:none;
    box-shadow:none;
    border-color: #ced4da;
}
.panel{
    border: 1px solid #bcbcbc;
    width: 80%;
    padding-left: 14px;
    padding-right: 14px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.col-{
    min-width: 30px;
    margin-right: 25px;
    margin-left: 35px;
}
.img-col{
    padding-left: 13px;
}
.playlist {
    border-bottom: 1px solid #e4eaec;
    margin-bottom: 23px;
    padding-bottom: 10px;
    vertical-align: middle;
}
.playlist h3{
    font-family: 'Montserrat', ;
    font-weight: 300;
    margin-top: 0px;
    font-size: 1em;
    text-align: center;
}
.leagues .col-sm{
    background-color: #2d2f37;
    height: 70px;
    margin-bottom: 25px;
    border-right: 1px solid #bcbcbc;
}
.leagues h3{
    margin-top: 20px;
    font-family: 'Montserrat', ;
    color: white;
    font-size: 1.3em;
    text-align: center;
}
#name {
    text-align: left;
    margin-left: 25px;
    padding-left: 20px;
}
.profile-icon {
    border-radius: 50%;
    height: 38px;
    width: 38px;
}

.tier-icon {
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.name {
    min-width: 300px;
}
.active {
    background-color: #dc291e!important;
}