body{
    background-color: #f6f6f6;
    color: #141414;
}
.container1{
    width: 20%;
    margin: 0 auto;
}
nav {
    color: #141414;
    background-color: white;
}
.nav-link {
    color: #141414!important;  
}
.nav-item {
    padding-left: 2rem;
    font-size: 1.1em;
}
#navbarsExampleDefault{
    width: auto;
    margin: 0 auto;
}
.right {
    float: right;
}
.navbar-brand{
    margin-left: 25px;
}
.navbar{
    min-height: 65px;
}
.mr-auto{
    margin-left: auto;
}
.form-control{
    margin-right: 25px;
}
input[type=text] {
    background-color: white;
    background-repeat: no-repeat;
}
input[type=text]:focus {
    outline: none!important;
    outline-style:none;
    box-shadow:none;
    border-color: #ced4da;
}
.panel{
    border: 1px solid #bcbcbc;
    width: 80%;
    padding: 40px;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
.col-{
    min-width: 30px;
}
.img-col{
    padding-left: 13px;
}
.playlist {
    border-bottom: 1px solid #e4eaec;
    margin-bottom: 14px;
    margin-top: 14px;
    vertical-align: middle;

}
.playlist h3{
    font-family: 'Montserrat', ;
    font-weight: 300;
    margin-top:28px;
    font-size: 1em;
}